<div class="full-screen-container border-orange justify-content-center align-items-center w-100">

<div class="container">
    <div  class="box red">
      <p style="margin-top: 60px;font-size: 18px;    font-weight: bold;">Machine: {{name}}</p>
      <p style="font-size: 18px;    font-weight: bold;">unite: {{unite}}</p>
      <p style="margin-bottom: 60px;font-size: 18px;    font-weight: bold;">Line: {{line}}</p>
      <button class="btn green" (click)="noDefect()">No defect !</button>
      <button class="btn blue" (click)="analyze()">Analyse</button>
    </div>
  </div>
</div> 