
.renderer-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.btn {
  background-color: rgb(213, 57, 49);
  text-shadow: #fbf7f7;
  color: #fbf7f7;
  left: 50px;
}
/* Style for the left navbar */
.navbar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #333;
  padding-top: 20px;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
}

.navbar li {
  padding: 10px;
  text-align: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  display: block;
}

.navbar a:hover {
  background-color: #575757;
}

/* Style for the content area */
.renderer-container {
  margin-left: 250px; /* Make space for the sidebar */
  margin-right: 200px; /* Make space for the sidebar */

  padding: 0px;
}

.border-orange {
  border: 10px solid orange;
  box-sizing: border-box;
}
.container {
  display: flex;
  width: 6000px;
  height: 500px;
  justify-content: center;
  align-items: center;
}

.box {
  width: 700px;
  height: 700px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  border: 2px solid rgb(102, 102, 237);
}

.blue1 {
  background-color: rgb(40, 40, 242);
}

.red {
  background-color: lightcoral; 
}

.btn {
  padding: 10px;
  margin: 60px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px; /* Adjust the size as needed */
  font-weight: bold;
}

.red {
  background-color: red;
  color: white;
}

.green {
  background-color: green;
  color: white;
}

.blue {
  background-color: rgb(86, 86, 89);
  color: white;
}
.border-orange {
  border: 10px solid orange;
  box-sizing: border-box;
}

.full-screen-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(68, 66, 70);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 10px solid orange;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 9999; /* High value to ensure it's on top */

}
